* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-center {
  float: center;
}

.text-center{
  text-align: center;
}

/* MIX */
body {
  min-width: 500px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
}

#wrapper {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

/* main */
main {
  height: calc(100vh - 90px);
  background-color: saddlebrown;
}

main::after {
  content: '';
  display: table;
  clear: both;
}

/* nav sx */
main .main-nav {
  float: left;
  width: 230px;
  height: 100%;
  padding: 10px;
  background-color: black;
}

main .main-nav .nav-top {
  height: calc(100% - 80px);
}

main .main-nav .nav-top .nav-logo-mobile{
  display: none;
}

/* logo */
main .nav-logo img{
  width: 170px;
}

/* mini menu navigaz */
main .home-menu{
  padding-bottom: 20px;
}

main .home-menu .home{
  border-left: 3px solid greenyellow;
}



main .home-menu img{
  width: 35px;
}

main .home-menu a{
  text-decoration: none;
  color: white;
}

main .home-menu a:hover{
  font-weight: bold;
}

main .home, .find, .library {
  display: flex;
  align-items: center;
}

/* parte playlist */
/* crea playlist */
.create-play h3{
  color: white;
  text-transform: uppercase;
}

.add-play{
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.add-play a{
  text-decoration: none;
  color: white;
}

.add-play a:hover{
  font-weight: bold;
}


/* bottoncino add */
.grey-bg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: grey;
}

/* playlists */
.name-playlists ul{
  list-style: none;
}

.name-playlists ul li{
  padding: 10px 0;
}

.name-playlists ul li a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.name-playlists ul li a:hover{
  font-weight: bold;
}

/* parte attaccata cons x stocazzo */
main .main-nav .nav-bottom {
  height: 80px;
  color: gray;
}

/* download app */
.nav-bottom .install{
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.nav-bottom .install img{
  width: 20px;
}

/* profile */
.nav-bottom .profile{
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.nav-bottom .grey-bubble{
  background-color: grey;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nav-bottom .profile img{
  width: 20px;
}

/* parte centrale */
main #content {
  float: left;
  height: 100%;
  width: calc(100% - 230px);
  background-color: rgb(20, 25, 34);
  background-image: linear-gradient(to right, rgb(20, 25, 34), rgb(20, 25, 34));
  overflow-y: auto;
}

/* effettua upgrade */
main #content .call-to-action {
  position: fixed;
  width: calc(100% - 230px);
  height: 90px;
  background-color: rgb(8, 11, 18);
}

main #content .call-to-action .upgrade{
  padding: 10px 35px;
  border-radius: 25px;
  border: 1px solid white;
  background-color: transparent;
  width: fit-content;
  float: right;
  margin-top: 20px;
}

main #content .call-to-action a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

/* lista pseudo navbar */
.nav-bar{
  height: 50px;
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .nav-bar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.nav-bar ul li{
  display: inline-block;
  text-transform: uppercase;
  padding-right: 20px;
}

.nav-bar ul li a{
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.nav-bar ul li a:hover{
  font-weight: bold;
}

/* covers */
.recently-played, .created-for, .popular-arts{
  height: fit-content;
  background-color: rgba(174,213,129 ,0.7);
  margin-bottom: 30px;
}

.recently-played h1, 
.created-for h1,
.popular-arts h1{
  margin-bottom: 15px;
}

.recently-played .albums{
  width: calc(100% / 6);
  height: fit-content;
  background-color: violet;
  padding: 0 5px;
}


.recently-played .albums img{
  width: 100%;
}

.albums .author{
  display: flex;
}

.albums .author .song-name{
  flex: 1;
}

/* footer */
footer {
  height: 90px;
  background-color: rosybrown;
}

/* player musicale */
footer #player {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

/* muscia in riproduzione */
.player-album{
  width: 13%;
  height: 50px;
  display: flex;
  background-color: rgba(156,39,176 ,1);
}

.song-playing img{
  height: 50px;
}

.song-playing{
  width: 70%;
  background-color: rgba(215,204,200 ,0.5);
}

.fav-folder{
  width: 30%;
  background-color: rgba(188,170,164 ,0.5);
}

/* controlli musicali */
.player-controller{
  width: 50%;
  height: 70px;
  background-color: rgba(233,30,99 ,1);
}

.commands {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.commands .icon{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  height: 100%;
  padding: 10px;
}

.commands .big-icon{
  font-size: 30px;
}

.music-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* controlli volume */
.player-audio{
  width: 13%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgba(103,58,183 ,1);
}


.options {
  width: 40%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(243,229,245 ,0.5);
}

/* media q */

/* tablet */
@media (min-width: 768px) and (max-width: 992px){
  .recently-played .albums{
    width: calc(100% / 4);
    height: fit-content;
    padding: 0 5px;
  }
}


/* smol */
@media (min-width: 600px) and (max-width: 768px){

  .recently-played .albums{
    width: calc(100% / 2);
    height: fit-content;
    padding: 0 5px;
  }
}


/* x-smol */
@media (max-width: 600px) {

  main .main-nav .nav-top .nav-logo-mobile{
    display:block;
  }
  main .main-nav .nav-top .nav-logo{
    display: none;
  }
  main .main-nav {
    width: 50px;
  }
  main #content, main #content .call-to-action {
    width: calc(100% - 50px);
  }

  main .create-play{
    display: none;
  }

  main .name-playlists{
    display: none;
  }

  main .nav-bottom{
    display: none;
  }

  main .home-menu a{
    display: none;
  }





  .recently-played .albums{
    width: calc(100% / 2);
    height: fit-content;
    padding: 0 5px;
  }
}